html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #212223;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 8pt;
  background-color: burlywood;
  color: black;
  border: none;
  font-size: 14pt;
  padding: 22pt 44pt;
  margin: 4pt 2pt;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover {
  background-color: antiquewhite;
}
